<% include('../layouts/header.ejs') %>

<div class="signup">
<form action = "" method="post" enctype="multipart/form-data">
    <label for="chk" aria-hidden="true">Sign up</label>
    <input type="text" name="txt" placeholder="Enter Name" required="">
    <input type="email" name="email" placeholder="Enter Email" required="">
    <input type="text" name="mobile" placeholder="Enter Mobile" required="">
    <input type="file" name="image" required="">
    <input type="password" name="pswd" placeholder="Enter Password" required="">
    <button>Sign up</button>
</form>
</div>

<div class="login">
<form>
    <label for="chk" aria-hidden="true">Login</label>
    <input type="email" name="email" placeholder="Email" required="">
    <input type="password" name="pswd" placeholder="Password" required="">
    <button>Login</button>
</form>
</div>

<% include('../layouts/footer.ejs') %>